<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-4">Danh sách Khách hàng</h6>
                    <a href="./khach-hang.html">Thêm khách hàng</a>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Họ</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Mã KH</th>
                                <th scope="col">SDT</th>
                                <th scope="col">Địa chỉ</th>
                                <th scope="col">Ghi chú</th>
                                <th scope="col">Chỉnh sửa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Nguyễn</td>
                                <td>Van A</td>
                                <td>KH-00001</td>
                                <td>0123456789</td>
                                <td>217 Nguyễn Văn Cừ</td>
                                <td>Đăng ký 26/11/2022</td>
                                <td><a class="btn btn-sm btn-primary" href="./khach-hang.html">Edit</a></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Nguyễn</td>
                                <td>Van A</td>
                                <td>KH-00001</td>
                                <td>0123456789</td>
                                <td>217 Nguyễn Văn Cừ</td>
                                <td>Đăng ký 26/11/2022</td>
                                <td><a class="btn btn-sm btn-primary" href="./khach-hang.html">Edit</a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Nguyễn</td>
                                <td>Van A</td>
                                <td>KH-00001</td>
                                <td>0123456789</td>
                                <td>217 Nguyễn Văn Cừ</td>
                                <td>Đăng ký 26/11/2022</td>
                                <td><a class="btn btn-sm btn-primary" href="./khach-hang.html">Edit</a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Nguyễn</td>
                                <td>Van A</td>
                                <td>KH-00001</td>
                                <td>0123456789</td>
                                <td>217 Nguyễn Văn Cừ</td>
                                <td>Đăng ký 26/11/2022</td>
                                <td><a class="btn btn-sm btn-primary" href="./khach-hang.html">Edit</a></td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Nguyễn</td>
                                <td>Van A</td>
                                <td>KH-00001</td>
                                <td>0123456789</td>
                                <td>217 Nguyễn Văn Cừ</td>
                                <td>Đăng ký 26/11/2022</td>
                                <td><a class="btn btn-sm btn-primary" href="./khach-hang.html">Edit</a></td>
                            <tr>
                                <th scope="row">5</th>
                                <td>Nguyễn</td>
                                <td>Van A</td>
                                <td>KH-00001</td>
                                <td>0123456789</td>
                                <td>217 Nguyễn Văn Cừ</td>
                                <td>Đăng ký 26/11/2022</td>
                                <td><a class="btn btn-sm btn-primary" href="./khach-hang.html">Edit</a></td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Nguyễn</td>
                                <td>Van A</td>
                                <td>KH-00001</td>
                                <td>0123456789</td>
                                <td>217 Nguyễn Văn Cừ</td>
                                <td>Đăng ký 26/11/2022</td>
                                <td><a class="btn btn-sm btn-primary" href="./khach-hang.html">Edit</a></td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>Nguyễn</td>
                                <td>Van A</td>
                                <td>KH-00001</td>
                                <td>0123456789</td>
                                <td>217 Nguyễn Văn Cừ</td>
                                <td>Đăng ký 26/11/2022</td>
                                <td><a class="btn btn-sm btn-primary" href="./khach-hang.html">Edit</a></td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>Nguyễn</td>
                                <td>Van A</td>
                                <td>KH-00001</td>
                                <td>0123456789</td>
                                <td>217 Nguyễn Văn Cừ</td>
                                <td>Đăng ký 26/11/2022</td>
                                <td><a class="btn btn-sm btn-primary" href="./khach-hang.html">Edit</a></td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>Nguyễn</td>
                                <td>Van A</td>
                                <td>KH-00001</td>
                                <td>0123456789</td>
                                <td>217 Nguyễn Văn Cừ</td>
                                <td>Đăng ký 26/11/2022</td>
                                <td><a class="btn btn-sm btn-primary" href="./khach-hang.html">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">&raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table End -->