<!-- Information Customer -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Thông tin Khách hàng</h6>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputMKH1" class="form-label">Mã Khách hàng</label>
                        <input type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" value="KH-00001">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputHoKH1" class="form-label">Họ</label>
                        <input type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" value="Nguyễn">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputTenKH1" class="form-label">Tên</label>
                        <input type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" value="Văn An">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" value="nguyenvanan@gmail.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputSDTKH1" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" value="0123456789">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputDiaChiKH1" class="form-label">Địa chỉ</label>
                        <input type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" value="217 Nguyễn Văn Cừ">
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch"
                            id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Khoá tài khoản khách hàng</label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 m-2">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Ảnh đại diện Khách hàng</h6>
                <div>
                    <center><img class="rounded-circle me-lg-2" src="../../public/images/admin/20127478.jpg" alt="Avartar" style="width: 350px; height: 350px"></center>
                    <button href="#" class="btn btn-primary w-100 m-2" type="button">Đổi ảnh đại diện</button>
                    <button type="button" class="btn btn-danger w-100 m-2">Xoá khách hàng</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Information Customer -->
