<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Bán trong ngày</p>
                    <h6 class="mb-0">5000000 VND</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Bán trong tháng</p>
                    <h6 class="mb-0">50000000 VND</h6>
                </div> 
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Doanh thu ngày</p>
                    <h6 class="mb-0">10000000 VND</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Doanh thu tháng</p>
                    <h6 class="mb-0">100000000 VND</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->


<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light text-center rounded h-100 p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Đã bán và Doanh thu</h6>
                    <!-- <a href="">Show All</a> -->
                </div>
                <canvas id="worldwide-sales"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- Sales Chart End -->


<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Đã bán gần đây</h6>
            <a href="./ds-ban.html">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">STT</th>
                        <th scope="col">Tên hàng</th>
                        <th scope="col">Mã hàng</th>
                        <th scope="col">Khách hàng</th>
                        <th scope="col">Ngày bán</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Tình trạng</th>
                        <th scope="col">Chi tiết</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Ipone 14 promax</td>
                        <td>ip14prm-1</td>
                        <td>Nguyen Van A</td>
                        <td>26/11/2022</td>
                        <td>41000000 VND</td>
                        <td>1</td>
                        <td>Đã thanh toán</td>
                        <td><a class="btn btn-sm btn-primary" href="./hoa-don.html">Detail</a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Ipone 14 promax</td>
                        <td>ip14prm-1</td>
                        <td>Nguyen Van A</td>
                        <td>26/11/2022</td>
                        <td>41000000 VND</td>
                        <td>1</td>
                        <td>Đã thanh toán</td>
                        <td><a class="btn btn-sm btn-primary" href="./hoa-don.html">Detail</a></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Ipone 14 promax</td>
                        <td>ip14prm-1</td>
                        <td>Nguyen Van A</td>
                        <td>26/11/2022</td>
                        <td>41000000 VND</td>
                        <td>1</td>
                        <td>Đã thanh toán</td>
                        <td><a class="btn btn-sm btn-primary" href="./hoa-don.html">Detail</a></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Ipone 14 promax</td>
                        <td>ip14prm-1</td>
                        <td>Nguyen Van A</td>
                        <td>26/11/2022</td>
                        <td>41000000 VND</td>
                        <td>1</td>
                        <td>Đã thanh toán</td>
                        <td><a class="btn btn-sm btn-primary" href="./hoa-don.html">Detail</a></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Ipone 14 promax</td>
                        <td>ip14prm-1</td>
                        <td>Nguyen Van A</td>
                        <td>26/11/2022</td>
                        <td>41000000 VND</td>
                        <td>1</td>
                        <td>Đã thanh toán</td>
                        <td><a class="btn btn-sm btn-primary" href="./hoa-don.html">Detail</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->